.article { margin-bottom: 20px; }

.article .date {
    font-size: 12px;
    margin-top: 10px;
}

.article .logo {
    display: block;
    text-align: center;
    margin: 5px;
    max-height: 25px;
    min-height: 15px;
    max-width: 120px;
}

.article .image { position: relative; }

.article .image > img {
    width: 100%;
    height: 200px;
    background-color: lightblue;
    -webkit-object-fit: cover;
    object-fit: cover;
}

.article .image .summary {
    display: none;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 12px;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 17px;
}

.article .image .summary .summary-text {
    text-align: left;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -moz-box-orient: vertical;
    height: 162px;
    font-size: 18px;
    margin-top: 15px;
}

.article .image:hover .summary { display: initial; }

.article .image .publish-date {
    position: absolute;
    right: 5px;
    top: 5px;
    border: solid black 1px;
}

.article .title {
    text-align: left;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -moz-box-orient: vertical;
    height: 67px;
    font-size: 18px;
}

@

@media screen and (max-width: 375px) {
    .article .title {
        -webkit-line-clamp: 4;
        font-size: 18px;
        height: 86px;
    }
}