@using Sociomedia.Front.Data
<div class="media" @onclick="@View">
    @if (!string.IsNullOrEmpty(Value.ImageUrl)) {
        <img class="logo" src="@Value.ImageUrl" alt="@Value.Name"/>
    }
    else {
        <p class="name">@Value.Name</p>
    }
</div>

@code {

    [Inject]
    protected NavigationManager NavigationManager { get; set; }

    [Parameter]
    public MediaListItem Value { get; set; }

    public void View()
    {
        NavigationManager.NavigateTo("/medias/" + Value.Id);
    }

}