.media {
    display: block;
    cursor: pointer;
}

.media:hover {
    background-color: lightgray;
    opacity: 0.6;
}

.media .logo {
    height: 70px;
    margin: 10px;
}

.media .name {
    font-size: 30px;
    margin: 10px;
}