@using Sociomedia.Front.Data
<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Sociomedia</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Accueil
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="articles">
                <span class="oi oi-list" aria-hidden="true"></span> Rechercher un article
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="medias">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Les Médias
            </NavLink>
        </li>
    </ul>
    <div class="nav flex-column month-trending">
        <div class="nav-item px-3">
            <a class="nav-link" href="themes">
                <span class="oi oi-star" aria-hidden="true"></span> Thèmes du mois
            </a>
            <ul>
                @foreach (var theme in _themes)
                {
                    <li>
                        <a href="@("/themes/" + theme.Id)"> @theme.Name</a>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>

@code {

    [Inject]
    protected ThemeFinder ThemeFinder { get; set; }

    private bool _collapseNavMenu = true;

    private IReadOnlyCollection<ThemeListItem> _themes = Array.Empty<ThemeListItem>();

    public string NavMenuCssClass => _collapseNavMenu ? "collapse" : null;

    protected override async Task OnInitializedAsync()
    {
        _themes = await ThemeFinder.GetMonthTrending();
    }

    public void ToggleNavMenu()
    {
        _collapseNavMenu = !_collapseNavMenu;
    }

}