@page "/articles"
@using Sociomedia.Front.Models

<div class="content">
    <div class="row justify-content-center">
        <div class="input-group mb-4 col-12 col-md-10">
            <input @bind-value="@_search" @onkeyup="@KeyPressed" @onblur="@StartResearch"
                    type="text" maxlength="200" class="form-control search-articles"
                    placeholder="Saissez un mot clé, un thème ..."
                    aria-label="Username"
                    aria-describedby="basic-addon1"/>

            <div class="input-group-append">
                <span class="input-group-text" id="basic-addon1">
                    <li class="oi oi-magnifying-glass"></li>
                </span>
            </div>
        </div>
    </div>
</div>

<ArticleList Filters="@_filters"></ArticleList>

@code {

    private string _search;
    private ArticleListFilters _filters = ArticleListFilters.None;

    private void KeyPressed(KeyboardEventArgs args)
    {
        if (args.Key == "Enter") {
            StartResearch();
        }
    }

    private void StartResearch()
    {
        _filters = new ArticleListFilters {
            Search = _search
        };
    }

}