@page "/medias"
@using Sociomedia.Front.Data
@inject MediaFinder MediaFinder

<h1>
    Medias list
    <a class="btn btn-outline-primary" href="/medias/new">
        <span class="oi oi-plus" aria-hidden="true"></span>
    </a>
</h1>

@if (_medias == null) {
    <i class="oi oi-reload"></i>
}
else {
    <div class="row justify-content-center">
        @foreach (var media in _medias) {
            <MediaItem @key="@media.Id" Value="@media"></MediaItem>
        }
    </div>
}

@code {
    private IReadOnlyCollection<MediaListItem> _medias;

    protected override async Task OnInitializedAsync()
    {
        _medias = await MediaFinder.List();
    }

}

